pmo-api/target
pmo-api/bin
pmo-api/logs/*
pmo-businesslogic/target
pmo-businesslogic/bin
pmo-businesslogic/logs/*
pmo-persistence/target
pmo-persistence/target/*
pmo-persistence/bin
pmo-persistence/logs/*
pmo-service/target
pmo-service/bin
pmo-service/logs/*
pmo-service-ws/*
pmo/target
pmo/gen
/target

*.iml
.settings*
.classpath
.project
.springBeans
*.jasper
*.class